# https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.3.tar.gz
django
python-dotenv
django-cors-headers
djangorestframework
mysqlclient
python-dateutil
mysql-connector-python
openpyxl
pyjwt
requests
cryptography