<!DOCTYPE html>
<html lang="fr">
  <head>

    {% load static %}
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'visioAdmin/images/favicon.ico' %}" type="image/x-icon">
    <title>Visio Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'visioAdmin/css/general.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'visioAdmin/css/login.css' %}" />

    
    <!-- <body class="backgroundImage"> -->
    <body>
      <aside id="imageContainer">
        <img src="{% static 'visioAdmin/images/login-image.jpeg' %}">
        <img id="pentagonLogin" src="{% static 'visioAdmin/images/pentagon.svg' %}" alt="Logo Etex" title="Logo Etex">
      </aside>
      <div id="logoContainer">
        <img id="logo" src="{% static 'visioAdmin/images/Logo_etex.png' %}">
      </div>
      <section id="whitePart">
        <article id="loginArticle">
          <h1 class="title">Connexion</h1>
          <form method=post action="{% url 'visioAdmin:login' %}" accept-charset="utf-8">
            <div class="pseudoLogin">
              <label class="loginLabel">PSEUDO</label>
              <br>
              <input class="loginInput" type="text" placeholder="Saisir votre identifiant" name="userName" value="{{ userName }}"></input>
            </div>
            <!-- <div class="loginError" style="top:210px">Le Pseudo est vide, veuillez rentrer votre identifiant</div> -->
            <div class="pseudoLogin" style="top:220px">
              <label class="loginLabel">Mot de passe</label>
              <br>
              <input class="loginInput" type="password" placeholder="Saisir votre mot de passe" name="password"></input>
            </div>
            <div class="loginError" style="top:350px">{{ message }}</div>
            {% csrf_token %}
            <input id="loginButton" type="submit" name="login" value="Se connecter"></input>
          </form>
        </article>
      </section>
    </body>