{% extends 'visioAdmin/base.html' %}

{% block content %}
{% load static %}
<main id="mainMain">
  {% csrf_token %}
  <nav id="navigationMain">
    <div class="sep" style="height:30px"></div>
    <button id="updateRef" class="buttonNav" >Mettre à jour le référentiel</button>
    <button id="upload" class="buttonNav" >Consulter / Télécharger</button>
    <button id="validation" class="buttonNav" >Valider</button>
    <button id="param" class="buttonNav" >Paramétrer</button>
  </nav>
  <div id="borderMain"></div>
  <section id="sectionMain">
    <header>
      <div id="headerTable">
        <img id="tableClose" src="{% static '/visioAdmin/images/Fleche.svg' %}">
      </div>
      <div id="wheel"></div>
      <form class="disconnect" method=POST action="{% url 'visioAdmin:login' %}">
        {% csrf_token %}
        <input type="submit" style="right:0" name="action" value="disconnect"/>
      </form>
    </header>
    <article id="articleMain">
      <div id="updateRefDiv"  class="pageContent">
        <div class=updateRefLine>
          <h3>Référentiel Visio</h3>
          <div class="updateRefContent">
            <div class="mainBox" id="updateRefUpdate">
              <div class="boxTextButton">
                <div class="mainBoxText" id="updateRefMbSave">
                  <p class="title"><b>Base de sauvegarde: 2.7.9</b></p>
                  <p class="date">Mise à jour le 01/09/2021</p>
                  <p class="file">Fichier xlsx : Référentiel.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="updateBaseRef" class="buttonHigh">Mettre à jour le référentiel</button>
                  <div style="width:50px"></div>
                  <button id="updateRefCheck" class="buttonLow">Vérifier et comparer</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Base de sauvegarde.svg' %}">
              </div>
            </div>
            <div class=mainBox id="updateSwitch">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Base en ligne: 2.8.0</b></p>
                  <p class="date">Mise à jour le 03/09/2021</p>
                  <p class="file">Fichier xlsx : Référentiel Récent.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="switchBase" class="buttonHigh">Intervertir les bases</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Base en ligne.svg' %}">
              </div>
            </div>
          </div>
        </div>
        <div class="updateRefLine">
          <h3>Volume Etex</h3>
          <div class="updateRefContent">
            <div class="mainBox" id="updateVol">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Dernier mois: Septembre</b></p>
                  <p class="date">Mise à jour le 11/09/2021</p>
                  <p class="file">Fichier xlsx : Volume Siniat.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="updateBaseVol" class="buttonHigh">Mettre à jour les volumes</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Référentiel Volume.svg' %}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="uploadDiv" class="pageContent">
        <div class=updateRefLine>
          <h3> </h3>
          <div class="updateRefContent">
            <div class="mainBox" id="connectionTable">
              <div class="boxTextButton">
                <div class="mainBoxText" id="uploadConnection">
                  <p class="title"><b>Table de connexions</b></p>
                  <p class="file">Fichier xlsx : Table de connexions.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="connectionConsulttRef" class="buttonHigh">Consulter</button>
                  <div style="width:50px"></div>
                  <button id="connectionDownloadRef" class="buttonLow">Télécharger l'Excel</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Table de connexions.svg' %}">
              </div>
            </div>
            <div class=mainBox id="uploadTarget">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Rapport de ciblage</b></p>
                  <p class="file">Fichier xlsx : Rapport de ciblage Récent.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="connectionConsultTarget" class="buttonHigh">Consulter</button>
                  <div style="width:50px"></div>
                  <button id="connectionDownloadTarget" class="buttonLow">Télécharger l'Excel</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Base en ligne.svg' %}">
              </div>
            </div>
          </div>
        </div>
        <div class="updateRefLine">
          <h3> </h3>
          <div class="updateRefContent">
            <div class="mainBox" id="uploadActions">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Historique des actions</b></p>
                  <p class="file">Fichier xlsx : Historique des actions.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="uploadConsultAction" class="buttonHigh">Intervertir les bases</button>
                  <div style="width:50px"></div>
                  <button id="uploadDownloadAction" class="buttonLow">Télécharger l'Excel</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Historiques des actions.svg' %}">
              </div>
            </div>
            <div class="mainBox" id="uploadCurrentBase">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>La base courante</b></p>
                  <p class="file">Fichier xlsx : Base courante Visio.xlsx</p>
                </div>
                <div class="mainBoxButton">
                  <button id="uploadCurrentBaseButton" class="buttonHigh">Intervertir les bases</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Rapport de ciblage.svg' %}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="validationDiv" class="pageContent">
        <div class=updateRefLine>
          <h3> </h3>
          <div class="updateRefContent">
            <div class="mainBox" id="param">
              <div class="boxTextButton">
                <div class="mainBoxText" id="validationText">
                  <p class="title"><b>Demandes en cours</b></p>
                </div>
                <div class="mainBoxButton">
                  <button id="validationConsult" class="buttonHigh">Consulter</button>
                  <div style="width:50px"></div>
                  <!-- <button id="validationDownload" class="buttonLow">Télécharger l'Excel</button> -->
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Demandes en cours.svg' %}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="paramDiv"  class="pageContent">
        <div class=updateRefLine>
          <h3> </h3>
          <div class="updateRefContent">
            <div class="mainBox" id="paramTargetBox">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Gestion des objectifs</b></p>
                </div>
                <div class="mainBoxButton">
                  <button id="paramTargetConsult" class="buttonHigh">Consulter</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Gestion des objectifs.svg' %}">
              </div>
            </div>
            <div class=mainBox id="paramAccountBox">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Gestion des comptes</b></p>
                </div>
                <div class="mainBoxButton">
                  <button id="paramAccountConsult" class="buttonHigh">Consulter</button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Gestion des comptes.svg' %}">
              </div>
            </div>
          </div>
        </div>
        <div class="updateRefLine">
          <h3> </h3>
          <div class="updateRefContent">
            <div class="mainBox" id="AdOpenBox">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Fermeture / Ouverture de l'AD</b></p>
                  <p class="file">Actuellement l'AD est fermé</p>
                </div>
                <div class="mainBoxButton">
                  <button id="AdOpenButton" class="buttonHigh"><span>Ouvrir l'AD</span></button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Fermeture_ Ouverture de l_AD.svg' %}">
              </div>
            </div>
            <div class="mainBox" id="Synonyms">
              <div class="boxTextButton">
                <div class="mainBoxText">
                  <p class="title"><b>Gestion des synonymes</b></p>
                  <p class="file"></p>
                </div>
                <div class="mainBoxButton">
                  <button id="manageSynonyms" class="buttonHigh"><span>Modifier les synonymes</span></button>
                </div>
              </div>
              <div class="mainBoxImage">
                <img class="boxImage" src="{% static 'visioAdmin/images/Gestion_des_Synonymes.svg' %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="tableArticle">
      <div id="tableHeader"></div>
      <div id="tableMain"></div>
    </article>

    <article id="validate">
      <div id="validateHeader"></div>
      <div id="validateMain"></div>
    </article>

    <article id="account">
      <div id="accountHeader"></div>
      <div id="accountMain"></div>
    </article>

    <article id="target">
      <div id="targetHeader"></div>
      <div id="targetMain">
        <div id="targetAction">
          <p id=titleTarget>Gestion des objectifs en termes de visites par DRV</p>
          <div id="regionTarget"></div>
          <div id="ratioTarget"></div>
          <div id="footerTarget"></div>
        </div>
      </div>
    </article>

    <div id="protect"></div>
    <div id="boxUpload" class="box upload" data="referentiel">
      <img id="boxUploadClose" class="boxClose" src="{% static 'visioAdmin/images/x icon.svg' %}">
      <div id="boxUploadDnd">
        <div id="boxUploadImage">
          <img id="boxUploadImg" src="{% static 'visioAdmin/images/Telecharger.svg' %}">
          <p id="fileUploaded"></p>
          <p id="boxUploadTxt">Glisser votre fichier</p>
          </div>
        </div>
      </div>
    </div>
    <div id="boxWarning" class="box warning">
      <img id="boxWarningClose" class="boxClose" src="{% static 'visioAdmin/images/x icon.svg' %}">
      <img class="boxLogo" src="{% static 'visioAdmin/images/warning.jpeg' %}">
      <p class="warningTitle">Attention</p>
      <p id="warningContent">Ceci est le message du warning</p>
      <button id="boxWarningOK" class="buttonHigh boxWarningOK">Valider</button>
    </div>

    <div id="boxWarningAgent" class="box warning">
      <img class="boxLogo" src="{% static 'visioAdmin/images/warning.jpeg' %}">
      <p class="warningTitle">Agent(s) remplacé(s)</p>
      <div id="agentContent" class="boxContent"></div>
      <button id="agentOK" class="buttonHigh validate" data="activate">Valider</button>
    </div>

    <div id="synonyms" class="box warning">
      <img id="boxSynonymsClose" class="boxClose" src="{% static 'visioAdmin/images/x icon.svg' %}">
      <p class="warningTitle" style="top:10%">Gestion des synonymes</p>
      <div id="synonymsAxis">
        <label for="axisSelect">Choisir l'axe:</label>
      </div>
      <div id="synonymsContent"></div>
      <p id="synonymsMessage">Les valeurs ont bien été enregistrées</p>
      <button id="manageSynonymsOK" class="buttonHigh validate">Valider</button>
    </div>

    <div id="boxWarningRename" class="box warning">
      <img id="boxWarningClose" class="boxClose" src="{% static 'visioAdmin/images/x icon.svg' %}">
      <img class="boxLogo" src="{% static 'visioAdmin/images/warning.jpeg' %}">
      <p class="warningTitle">Renommer un agent</p>
      <p class="warningContent">Ceci est le message du warning</p>
      <div id="boxInputRename">
        <p class="subTitleRename">Nouvelle valeur : </p>
        <input type="text" id="renameText">
      </div>
      <button id="boxButtonRename" class="buttonHigh boxWarningOK">Valider</button>
    </div>

    <div id="boxWarningCreate" class="box warning">
      <img id="boxWarningClose" class="boxClose" src="{% static 'visioAdmin/images/x icon.svg' %}">
      <p class="warningCreate">Créer un nouveau compte</p>
      <div id="contentCreate">
        <div class="lineCreate">
          <p class="elementCreate">Pseudo : </p>
          <input type="text" id="pseudoCreate" class="elementCreate">
        </div>
        <div class="lineCreate">
          <p class="elementCreate">Mot de passe : </p>
          <input type="password" id="pwdCreate" class="elementCreate">
        </div>
        <div class="lineCreate">
          <p class="elementCreate">Confirmation du mot de passe : </p>
          <input type="password" id="confirmPwdCreate" class="elementCreate">
        </div>
        <div class="lineCreate">
          <p class="elementCreate">Profil : </p>
          <select name="profilCreate" class="elementCreate" id="profilCreate"></select>
        </div>
        <div class="lineCreate">
          <p class="elementCreate">Secteur : </p>
          <select name="geoCreate" id="geoCreate" class="elementCreate"></select>
        </div>
        <p id="createMessage">L'utilisateur a bien été créé</p>
      </div>
      <button id="boxButtonCreate" class="buttonHigh boxWarningOK">Valider</button>
    </div>
  </section>
</main>
{% endblock %}