html {
  margin: 0px;
}
body {
  font: normal 70% 'Roboto', sans-serif;
  --main-etex-color:rgb(241,100,39);
  /* font-size:0.7em; */
  margin: 0;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction:column;
  flex-grow:1;
  overflow:hidden
}

h1 {
  box-sizing: border-box;
  width: 185px;
  text-align: left;
  height: 33px;
  color: #151d21;
  font: normal normal bold 28px/46px Roboto;
  letter-spacing: 1.05px;
}

h3 {
  font-weight: normal;
  font-size: 1.5em
}

p {
  padding:0;
  margin:0;
  font-size:1em;
}

button.buttonHigh {
  height: 30px;
  width:350px;
  border-radius: 15px;
  background-color: var(--main-etex-color);
  color: white;
  font-size: 1em;
  border: 2px solid var(--main-etex-color);
}

button.buttonHigh:hover{
  background-color: white;
  color: var(--main-etex-color);
  cursor:pointer;
}

button.inhibit{
  background-color:lightgrey;
  border: 2px solid grey;
  cursor:default
}

button.inhibit:hover{
  background-color:lightgrey;
  color:white;
  cursor:default
}

button.buttonLow {
  height: 30px;
  width:350px;
  border-radius: 15px;
  background-color: white;
  color: var(--main-etex-color);
  font-size: 1em;
  border: 2px solid var(--main-etex-color);
}
a.buttonLow {
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 26px;
  width:350px;
  border-radius: 15px;
  background-color: white;
  color: var(--main-etex-color);
  font-size: 1em;
  border: 2px solid var(--main-etex-color);
  text-align:center;
  vertical-align:middle;
  text-decoration:none;
}

button.buttonLow:hover{
  background-color: var(--main-etex-color);
  color: white;
  cursor:pointer;
}
a.buttonLow:hover{
  background-color: var(--main-etex-color);
  color: white;
  cursor:pointer;
}

img.boxImage {
  width:100%;
  height:100%;
}